# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bottos
vendor
datadir

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/misc.xml
.idea/modules.xml
.idea/bottos.iml
.idea/vcs.xml
.idea/workspace.xml
cmdcli/cmd.go
